.french-text {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.main-text {
    color: white;
    font-size: 25px;
}

.jumbotron {
    background: white !important;
}

.fiche {
    max-width: 300px;
    min-width: 300px;
    min-height: 331px;
    background-color: lightgray;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.fiche > img {
    max-height: 200px;
    min-height: 200px;
    min-width: 300px;
    max-width: 300px;
}

.fiche-nom {
    color: #005aa1;
    font-size: 15px;
}

/*Trigger Button*/
.login-trigger {
font-weight: bold;
color: #fff;
background: linear-gradient(to bottom right, #B05574, #F87E7B);
padding: 15px 30px;
border-radius: 30px;
position: relative; 
top: 50%;
}

/*Modal*/
h4 {
font-weight: bold;
color: #fff;
}
.close {
color: #fff;
transform: scale(1.2)
}
.modal-content {
font-weight: bold;
background: linear-gradient(to bottom right,#F87E7B,#B05574);
}
.form-control {
margin: 1em 0;
}
.form-control:hover, .form-control:focus {
box-shadow: none;  
border-color: #fff;
}
.username, .password {
border: none;
border-radius: 0;
box-shadow: none;
border-bottom: 2px solid #eee;
padding-left: 0;
font-weight: normal;
background: transparent;  
}
.form-control::-webkit-input-placeholder {
color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
font-weight: bold;
color: #fff;
}
.login {
padding: 6px 20px;
border-radius: 20px;
background: none;
border: 2px solid white;
color: white;
font-weight: bold;
transition: all .5s;
margin-top: 1em;
}
.login:hover {
background: #FAB87F;
color: #fff;
}

a:not(.nohover):hover {
    background-color: #6495ED;
    border-radius: 5%;
}

.tooltip-custom {
    position: relative;
}

.autocomplete {
    width:300px;
    margin-left: auto;
}

.reset-button,
.delete_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(.5rem);
    padding: .6259rem;
}

#search:focus::placeholder {
    font-weight: inherit;
}

#search::placeholder {
    color: #5a656b;
}

select {
    text-align-last: center;
}